.body2{
  background-color: black;
  height: 100%;
}
.front{

  opacity: 0.5px;
}
.body{
  background-image: url('~src/assets/img/Entrada-hotel front.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
// .bg{
//   margin-left: 5px;
// }
